[phases.setup]
nixPkgs = ["nginx"]

[phases.build]
cmds = [
    "composer install --no-dev --optimize-autoloader",
    "npm ci",
    "npm run build"
]

[start]
cmd = "php artisan optimize && php-fpm"
