@import "tailwindcss";

:root {
  --foreground-rgb: 248, 250, 252;
  --background-start-rgb: 15, 23, 42;
  --background-end-rgb: 15, 23, 42;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0f172a;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}